@font-face {
    font-family: 'army';
    src: url(assets/ARMYRUST.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "army", sans-serif
}

canvas {
    background-color: #D9A066;
}